body,tr,th,td,ul,table 
{font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#333333; background-color: #CCCCCC}

A:link {font-weight: normal; color:#993300; text-decoration:none}
A:visited {font-weight: normal; color:#D25A00; text-decoration:none}
A:active {font-weight: normal; color:#006699; text-decoration:none}

/* heading styles */
.h1joc {text-align: left; font-size: 16px; font-weight: bold; color: #575873}
.h2joc {text-align: left; font-size: 14px; font-weight: bold; color: #575873}
.h3joc {text-align: left; font-size: 12px; font-weight: bold; color: #575873}

.glostit {font-size: 13px; font-weight: bold; color: #575873}
.glostit2 {font-weight: bold; color: #575873}
.glost {color:#666699}

simbol {font-family: Times, "Symbol", "Times New Roman", serif, Arial, Helvetica, sans-serif; font-size:13px}
p {line-height: 18px; font-weight: normal}
li {line-height: 18px; font-weight: normal}

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */

/* document-specific styles come next */
SPAN.sc		{   }
DIV.navigation		{   }
DIV.center		{   }
SPAN.arabic		{   }